html, body {
    font-size: 40px;
}

.container {
    margin: 0 auto;
    padding: 20px;
    background: blanchedalmond;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.block {
    flex: 1;
}

span {
    padding: 0 10px;
    border: solid black 1px;
}

#submit{
    display: none;
}

button{
    background: cornflowerblue;
    color: white;
    font-size: 30px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}